<table class="table table-striped table-bordered">

  <thead>
      <th >#</th>
      <th >Date</th>
      <th >Client</th>
      <th >Task</th>
      <th >Time</th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr  scope="row">
      <th ><%= invoice.id %></th>
      <td ><%= invoice.date&.strftime("%b %d, %Y") %></td>
      <td ><%= link_to invoice.client, tasks_path(:client => task.client) %></td>
      <td ><%= invoice.invoicenum %></td>
      <td ><%= invoice.totalusd %></td>
      <td ><%= invoice.time %></td>
    </tr>
    <tr scope="row">
      <td ></td>
      <td >
        <div class="btn-group" role="group" >
        <%= link_to 'Show', invoice, class: "btn btn-success btn-sm" %>
        <%= link_to 'Edit', edit_invoice_path(task), class: "btn btn-info btn-sm" %>
        <%= link_to 'Delete', invoice, :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
      </div>
    </td>
      <td ></td>
      <td>Notes: <%= invoice.notes %></td>
      <td ></td>
    </tr>
</div>
   <% end %>

  </tbody>
</table>
