<!-- <%= form_with(model: task, local: true) do |f| %>
  <%= f.label :date %>
  <%= f.text_field :date %>
  <%= f.label :client %>
  <%= f.text_field :client %>
  <%= f.label :task %>
  <%= f.text_field :task %>
  <%= f.label :timebilled %>
  <%= f.text_field :timebilled %>
  <%= f.label :notes %>
  <%= f.text_field :notes %>
  <%= f.submit %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %> -->


<div><%= link_to "All Tasks", tasks_path %></div>

  <%= form_with(model: task, local: true) do |f| %>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <%= f.label :date %>
          </div>
          <div class="col-9">
            <%= f.date_field :date, id: "flatpickr-input", data: {readonly: ""} %>
          </div>
        </div>
        <div class="row">
          <div class=" col-3">
            <%= f.label :client %>
          </div>
          <div class=" col-9">
            <%= f.text_field :client, size: "30" %>
          </div>
        </div>
        <div class="row">
          <div class=" col-3">
            <%= f.label :timebilled %>
          </div>
          <div class=" col-9">
            <%= f.text_field :timebilled, size: "5" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-6 offset-3">
          <%= f.label :task %>
          <%= f.text_area :task, class: "form-control", rows: "8" %>
        </div>
        <div class="col-6 offset-3">
          <%= f.label :notes %>
          <%= f.text_area :notes, class: "form-control", rows: "8"%>
        </div>
    </div>
      <div class="row">
            <%= f.submit %>
              <% if task.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
              <ul>
              <% task.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
              <% end %>
        <% end %>
      </div>
